API__NEWS_API_KEY="YOUR_KEY_HERE"

# Google Drive Backup Configuration
WATCHTOWER_GOOGLE_DRIVE__CREDENTIALS_FILE="client_secrets.json"
WATCHTOWER_GOOGLE_DRIVE__BACKUP_FOLDER_ID="your_google_drive_folder_id_here"
