**/__pycache__/*
/.vscode
/data
/data/*
/logs
/logs/*
/node_modules
/build
/.VSCodeCounter
/.VSCodeCounter/*
/venv
/venv/*
src/web/fullstreamlit/logs/*
src/web/demo/games/logs/*
src/web/demo/genai/logs/*
src/web/demo/goldigging/logs/*
src/web/demo/news/logs/*
src/web/demo/videos/logs/*
src/web/fullstreamlit/logs/*
src/web/fullstreamlit/data/*
**/.DS_Store
**/data/*
**/logs/*
src/utils/__pycache__/*
src/utils/__pycache__/file_system.cpython-313.pyc
src/utils/__pycache__/logging.cpython-313.pyc
